[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/manis"]
	path = themes/manis
	url = https://github.com/yursan9/manis-hugo-theme
[submodule "themes/hucore"]
	path = themes/hucore
	url = https://github.com/mgjohansen/hucore.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
